@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #6a9fb4;
  --secondary-color: #e8dab2;
  --neutral-color: #9ca496;
  --orange-color: #e3a47a;
  --error-color: #df2b2b;
  --black-color: #200f09;
  --white-color: #eaeaea;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(
    -45deg,
    var(--primary-color),
    var(--neutral-color),
    var(--secondary-color),
    var(--orange-color)
  );
  background-size: 300% 300%;
  animation: gradient-bg 15s ease infinite;
  -webkit-animation: gradient-bg 15s ease infinite;
}

@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
